// app global css
@import '~variables'

@font-face
  font-family uranium
  src url(/css/themes/fonts/Depleted-Uranium.ttf)

.linear-gradient
  background linear-gradient($grey-10, $blue-grey-14)

.ura
  font-family: 'uranium'
